[submodule "cyberturku_fanfic"]
	path = _submodules/cyberturku_fanfic
	url = https://github.com/Siikakala/cyberturku_fanfic
[submodule "_submodules/blog"]
	path = _submodules/blog
	url = https://github.com/Siikakala/blog.git
[submodule "_submodules/dnd_stories"]
	path = _submodules/dnd_stories
	url = https://github.com/Siikakala/dnd_stories.git
