<ul class="horizontal-list">
    {% for item in include.collection %}
  
      <li class="big-card">
        <a href="{{ item.url }}">
          <span class="header">
            {{ item.title }}
  
          </span>
  
          <hr />
          {% case item.language %}
            {% when "fi", "finnish" %}
            :finland: 
            {% when "en", "english" %}
            :us:
            {% else %}
            :{{ item.language }}:
          {% endcase %}
          {% case item.highlight %}
              {% when "WIP" %}
              &nbsp;<mark class="wip-mark">{{ item.highlight }}</mark>
              {% else %}
              &nbsp;<mark>{{ item.highlight }}</mark>
          {% endcase %}
          {% if item.nsfw != nil %}
              {% case item.nsfw %}
                  {% when "yes", "y", true %}
                      &nbsp;<mark class="nsfw-mark">NSFW</mark>
                  {% when "no", "n", false %}
                      &nbsp;<mark>SFW</mark>
              {% endcase %}
          {% endif %}
           <br />
          {% for tag in item.tags %}
            <span class="tag" style="background-color: #181b21;">{{ tag }}</span>
          {% endfor %}
  
          {% if item.long_desc %}
          <p class="body">
            {{ item.long_desc }}
          </p>
          {% elsif item.desc %}
          <p class="body">
            {{ item.desc }}
          </p>
          {% endif %}
        </a>
      </li>
  
    {% endfor %}
  </ul>