<ul class="horizontal-list">
    {% for item in include.collection %}

    <li class="card">
        <a href="{{ item.url }}">
            <span class="header">
                {{ item.title }}

            </span>

            <hr />
            {% case item.language %}
                {% when "fi", "finnish" %}
                :finland:
                {% when "en", "english" %}
                :us:
                {% else %}
                :{{ item.language }}:
            {% endcase %}
            {% case item.highlight %}
                {% when "WIP" %}
                &nbsp;<mark class="wip-mark">{{ item.highlight }}</mark>
                {% when "New" %}
                &nbsp;<mark class="new-mark">✨ {{ item.highlight }} ✨</mark>
                {% else %}
                &nbsp;<mark>{{ item.highlight }}</mark>
            {% endcase %}
            {% if item.nsfw != nil %}
                {% case item.nsfw %}
                    {% when "yes", "y", true %}
                        &nbsp;<mark class="nsfw-mark">NSFW</mark>
                    {% when "no", "n", false %}
                        &nbsp;<mark>SFW</mark>
                {% endcase %}
            {% endif %}

            {% if item.desc %}
            <p class="body">
                {{ item.desc }}
            </p>
            {% endif %}
        </a>
    </li>
    {% if forloop.index >= 3 %}
        {% break %}
    {% endif %}
    {% endfor %}
</ul>